/**
 * Plugin Structure
 */
select.ui-select-skinned { 
	position: absolute; 
	left: -9999px; 
	top: auto; 
	width: 1px; 
	height: 1px; 
	overflow: hidden;
}

dl.ui-select {
	list-style: none;
	float: left;
	position: relative;
	cursor: pointer;
}

dl.ui-select dt.ui-select-handler {
	display: block;
	position: relative;
}

dl.ui-select dd.ui-select-holder-list {
	position: absolute;
	z-index: 9999;
	left: 0;
}

dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items li a {
	display: block;
}






/**
 * Plugin Colors
 */
dl.ui-select {
	background: #ff2f41;
	color: #fff;
/*	width: 250px;*/
}

dl.ui-select dt.ui-select-handler {
	background: #9e9b64;
}

dl.ui-select dd.ui-select-holder-list {
	background: #ff2f41;
}

dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items {
	background: #9e9b64;
}

dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items li {
	
}

dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items li a {
	color: #fff;
}

dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items li a.selected {
	display: none;
}

dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items li a:hover,
dl.ui-select dd.ui-select-holder-list ul.ui-select-holder-items li a:focus {
	background: #f2ebb7;
	color: #3c4739;
}












